html{
    --blue  : rgb(56, 56, 255);
    --yellow: rgb(250, 250, 94);
    font-size: 20px;
}

body{
   margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.icon{
    font-size: 30px;
}
.add{
    font-size: 20px;
    border: 1px solid green;
    color: white;
    background-color: green;
    padding: 1rem;
    border-radius: 12px;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.add:hover{
    background-color: rgb(2, 88, 2);
    transition: all .2s;
}

.add:hover span{
    display: inline-block;
    animation: addBtnFile .2s 1 linear forwards;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
}

header, .navigation{
    background-color: var(--blue);
}

header > nav{
    display: flex;
    justify-content: space-evenly;
}

header > nav > div{
    padding: 1rem;
    text-align: center;
    font-size: .8rem;
    color: white;
    font-weight: bold;
}

main{
    display: flex;
}

.navigation{
    width: 300px;
    top: calc(2.8rem);
    height: calc(100vh - 2.8rem);
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  
}

.navigation li a{
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: white;
    line-height: 2rem;
    cursor: pointer;
}

.navigation li a:hover, nav div:hover{
    background-color: var(--yellow);
    color: var(--blue);
    transition: all .8s;
}

main section{
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
}

table, td, th {
    border: 1px solid black;
}

thead{
    max-height: 30px;
}

table .icon{
    padding: .3rem;
    border-radius: 5px;
    background-color: rgba(180, 180, 180, 0.507);
    box-sizing: border-box;
    transition: all .4s;
    cursor: pointer;
    font-size: 20px;
}

table .icon:hover{
    background-color: rgba(180, 180, 180, 1);
}

table .icon.red{
    color: red;
}

table .icon.green{
    color: green;
}

.container-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(25deg, rgba(192, 192, 192, .2) 10px, rgba(77, 77, 77, .2) 30px);
}

.modal{
    width: 80%;
    min-height: 50vh;
    background: white;
    border: 1px solid var(--blue);
    overflow: auto;
}

.hide{
    display: none;
}

.text-block{
    white-space: normal;
    word-break: break-word;
    padding: 0.5rem;
}
.rdone {
    animation:ok 1s  linear;
}
@keyframes ok {
    from{
        background-color: rgba(0, 255, 0, 1);
    }
    to {
        background-color: rgba(0, 255, 0, 0);

    }
}
@keyframes addBtnFile {
    from{
        transform: translateY(-10vh);
    }
    to{
        transform: translateY(0);
    }
}
